@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
nav{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.nav_wrapper{
    display: flex;
    justify-content: space-between;
    /* padding-top: 1rem;
     */
}
.nav_link{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.logo{
    color:#E8505B;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
.search {
    width: 30%;
}
.search_input{
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    outline: none;
    border: none;
    background-color: #EFF0F7;
    
}
.search_input::placeholder{
    font-size: 1rem;
    text-align: center;
    color: #A0A3BD;
}
.nav_item{
    font-weight: 400;
    font-size: 14px;
    padding: 8px 24px;
    /* padding: 8px 24px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.nav_item.reg{
    background-color: #4E4B66;
    /* border: 1px solid red; */
    /* z-index: 100; */
    border-radius: 40px;
    font-weight: 600;
    color: #FCFCFC;
   
}

.hero_title{
    color:#4E4B66;
    font-size: 2rem;
    font-weight: 600;
}
.card_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column;
    width: 24%; */
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%; 
    border: 1px solid red;
    border-radius: 15px;
}
.image_area{
    height: 250px;
    width: 150px;
}